
main .home-box{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 19px;
    margin-top: 25px;
    margin-bottom: 25px;
    height:185px;
}

main .home-box .home-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 30px;
}

main .home-box .home-right{
    display: block;
    position: relative;
}
main .home-box .home-right img{
   /* position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;*/
    position: absolute;
    margin-top: -65px;
    margin-left: -150px;
}

main .home-box .home-left .home-text-large{
    font-weight: 250;
    font-size: 2rem;
    margin-top: -40px;
}

main .home-box .home-left .home-text-small{
    margin-left:20px;
}

main .home-box .home-left .home-text-small span{
    color: var(--primary);
}

main .home-box .home-left .home-text-small ol li{

    font-weight: 500;
    color: var(--dark);
    list-style-type: disc;  
}

main .my-pet-box .splide__track .splide__list span.is-pet-empty{
    margin:auto;
    text-align: center;
    color:var(--dark);
    font-weight: 500;
}

main .my-pet-box{
   overflow: hidden;
    background-color: var(--light);
    border-radius:19px ;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

main .my-pet-box .splide__track .splide__list div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
}

main .my-pet-box .splide__track .splide__list div img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

main .my-pet-box .splide__track .splide__list div .pet-name{
    color: var(--dark);
}
main .my-pet-box .splide__track .splide__list div .bx{
    font-size: 100px;
}

.home-text-large span{
    font-weight: 550;
}

.my-pet-text{
    font-size: 2rem;
    font-weight: 550;
    color: var(--dark);
    margin: 10px auto 10px auto;
}

main .box{
    background-color: var(--light);
    padding: 18px;
    border-radius: 15px;
    margin-top: 10px;
}
 main .box .orders .header{
    display: flex;
    margin-bottom: 20px;
 }

 main .box .orders .header .header-left{
    display: flex;
    grid-gap: 15px;
 }

 main .box .orders .header .header-right{
    display: flex;
    grid-gap: 15px;
 }


.content main .bottom-data .orders{
    flex-grow: 1;
    flex-basis: 500px;
}

.content main .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
  
}


.content main .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
    padding-left: 12px;
}

.content main .bottom-data .orders table td{
    padding: 16px 12px;
    
}

.content main .bottom-data .orders table tr td:nth-child(2){
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
    margin-right: 0;
    
}

.content main .bottom-data .orders table tr td:first-child{
   padding-right: 15px ;
    
}

.content main .bottom-data .orders table td.action .act-icon{
    display: flex;
    grid-gap: 15px;
    vertical-align: middle;
    align-items: center;
    
    
}

.content main .bottom-data .orders table td.action .act-icon i{
   
    font-size: 22px;
    
}

.content main .bottom-data .orders table td.profile img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .bottom-data .orders table td.action img{
    
    width: 18px;
    height: 18px;
}





.content main .bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
    border-bottom: 1px solid var(--grey); /*for tr bottom line*/
    font-weight: 250;
    font-size: 0.8rem;
    
}

.content main .bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}
td.pet-profile{
    display: flex;
    
}

tr .pet-profile{
    display: flex;
    
}

.status-text{
    color: green;
    font-weight: 600;
}

 .red{
    color:var(--danger);
}

.footer-block{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-block .footer-left{
    font-weight: 200;
    font-size: 0.8rem;
}
.footer-block .footer-left .current{
    color: blue;
}
.footer-block .footer-left .total{
    color: blue;
}
.footer-block .footer-right{
    display: flex;
    grid-gap: 15px;
    font-weight:200;
    font-size: 0.8rem;
}

.footer-block .footer-right .page3{
    background-color: blue;
    color: white;
}

.footer-block .footer-right .page{
    padding: 3px;
    
}
.green{
    color: green;
}

.green, .red{
    font-weight: 500;
}

.top{
    display: flex;
    justify-content: space-between;

    /*new*/
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
}

.top .left{
    padding-left: 20px;
}

.top .left .greetings{
    margin-top: 50px;
    font-size: 50px;
    
}

.top .left .greetings span{
    font-size: 30px ;
    color: var(--primary);
}
.top .left p{
    margin-top: 15px;
    font-size: 18px ;
}

.top .left p span {
    color: var(--primary);
}




.top .right img{
    height: 250px;
    margin-top: -35px;
    
    
}

.top .left  ol li{

    font-weight: 500;
    color: var(--dark);
    list-style-type: disc;  
    margin:15px;
}

.top .left li{
    font-size: 15px ;
}

.top .left li span{
    color: var(--primary);
}








