@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

:root{
    --primary:#1F2E88; /*main blue color*/
    --background1:#F7FAFC; /*grey*/
    --background2:#FFFFFF; /*white*/
    --border: .2rem solid rgba(0,0,0,.1);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,.1);
    --black:#222;
    --secondary: #2f66d4;
    --light-color:#666;
}


*{
    /* right, left, up, bottom margins are 0 */
    margin : 0;
    padding : 0;
    /* To adding seperate paddings to images without errors using box- sizing */
    box-sizing : border-box; 
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-transform: capitalize;
  /*  transition: .2s linear;*/
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:.8rem;

}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: 5rem;
}

section {
    padding: 1rem 7%; /*section bottom paddint default 5rem 7%*/
}


body {
    /* this marging says up and bottom margins are 0 but right and left margins are auto. */
    margin : 0 auto; 
    
}
.login {
    background-color:white;
    border: 2px solid #1F2E88; /* Specifies width, style, and color */
    color: #1F2E88;
    font-weight: 600;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: .5rem;
    background: var(--primary);
    cursor: pointer;
    font-size: 1.7rem;
    border-color: #1F2E88;
    color:var(--background2);

}

.login {
    background-color:white;
    border: 2px solid #1F2E88; /* Specifies width, style, and color */
    color: #1F2E88;
    font-weight: 600;
}




.btn:hover{
    background: var(--secondary);
}

.login:hover{
    background:#ECF3FF;
}

.headings{
    font-size: 4rem;
    text-align: center;
    color:var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

/*=============header========================*/

.header{
    position: fixed;
    top:0; left:0; right:0;
    z-index:1000;
    background:var(--background2);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 9%;
}

.header .logo{
   font-weight: bolder;
   color:var(--black);
   font-size: 3.0rem;
   display: flex;
    position: relative;
    align-items: center;
    margin: 0%;
    margin-bottom: 10px;
    justify-content: center;
    margin-left: 0rem;  /*to get center nav*/
}

.logo-dot{
    color:#1F2E88;
}



.logo-txt{
    
    padding-left: 15px;
    vertical-align: middle;  
    margin-top: 10px;
    font-weight: 700;
}

.logo .logo-icon{
    width: 55.48px;
    height: 61px;

}

.header .navbar a{

    font-size: 2.0rem;
    color:var(--black);
    margin: 0 4rem;
    font-weight: 500;

}

.header .navbar a:hover{
    color: var(--primary);

}

#menu-btn{
    font-size:3.5rem;
    cursor: pointer;
    color:var(--black);
    margin-left: 1.7rem;
    display: none;
}

.header .btn{
    margin-top: 0;
   
}

/*=============header over========================*/




/*============home start=====================*/

.home{
   
    background-color: var(--background1);
    background-image:url(../../img/home/home-dog-1.svg);
    background-size: 750px;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: top 25% right 0;
    


}

.home .contents{
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

.home .contents  .title2{
    color:var(--primary);
}

.home .contents{
    max-width:60rem ;
    padding-left: 6rem;
    padding-top: 20rem;
   
}



.home .contents h3{
    font-size: 7rem;
    color:var(--black);
    line-height: 1.2;
}

.home .contents p{
    max-width:50rem ; 
    line-height: 2;
    font-size: 1.7rem;
    color: var(--light-color);
    padding: 1rem 0;
}





.home .right-content img{
    height: auto;
    width: 105%;
   position: relative;
   left: 20%;
   top:5%
   
}

/*===========Home end==================*/


/*about us*/

.about{
    background-color: var(--background2);
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:3rem;
}

.about .row .images{
    flex: 1 1 40rem;
}

.about .row .image img{
    width:100%;
    height: 100%;
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    color: var(--black);
    font-size: 3.5rem;
    line-height: 1.5;
}
.about .row .content p{

    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
    color:var(--light-color)
}

/*about us end */




/* service start */

/* service start */
.Service{
    min-height: 100vh;
    background-color: #F7FAFC;

}


section.Service{
   height :100vh;
   width:100%;
   display:grid;
   place-items:center;
}
.services .row{
    display:flex;
    flex-wrap:wrap;
}
.services .row  .column{
    width:100%;
    padding: 0 1em 1em 1em;
    text-align: center;

}
.services .row  .column .card{
    border:1px solid black;
    width:100%;
    height:100%;
    padding : 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
    background-size : 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0,0,0,0.12);
    cursor:pointer;
    transition:0.5s;

}

.services h3{
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin : 1em 0;

}
.services p{
    color:#575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;

}
.services .row  .column .card .icon-wrapper{
    background-color: #2c7bfe;
    position: relative;
    margin:auto;
    font-size:30px;
    height: 2.5em;
    width:2.5em;
    color:#ffffff;
    border-radius:50%;
    display:grid;
    place-items: center;
    transition: 0.5s;
}
.services .row  .column .card:hover{
    background-position: 0 100%;

}
.services .row  .column .card:hover.icon-wrapper{
   background-color: #ffffff;
   color:#2c7bfe;
}
.services .row  .column .card:hover h3{
    color:#ffffff;
}
.services .row  .column .card:hover p{
    color:#f0f0f0;
}
@media screen and (min-width:768px){
    section.services{
        padding:0 2em;
    }
    .services .row .column{
        flex:0 50%;
        max-width:50;
    }
}
@media screen and (min-width:99px){
    section.services{
        padding:1em 3em;
    }
    .services .row .column{
        flex:0 0 33.33%;
        max-width: 33.33%;
    }
}

/*service end*/


/*our team start*/

/* ------slider---- */

.our-team{
    background-color: #fff;
    max-height:600px;
}



  
  /* ----------- SLIDER ------------ */
 
  
  .card-team{
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 2em 1em;
  
    display: flex;
    align-items: center;
    flex-direction: column;
  
    margin: 10px 10px;
  }
  
  
  
  .card__image{

    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 5px solid var(--color);
    padding: 3px;
     margin:20px auto;
    
  }
  
  .card__image img{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .card__content{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .card__title{
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    top: .2em;
  }
  
  .card__name{
    color: var(--color);
  }
  
  .card__text{
    text-align: center;
    font-size: 1.1rem;
    margin: 1em 0;
  }
  
  .card__btn{
    background-color: var(--primary);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5em;
    border-radius: .5em;
    margin-top: .5em;
    cursor: pointer;
  }
/*our team end*/

/* blog start */
/* .blog{ 
    margin: 0px;
    padding:0px;
    font-family: poppins;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.blog-body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;

}
*/

#blog{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: var(--background1);
}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span{
    color: #f33c3c;
}

.blog-heading h1{
    font-size: 4.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.blog-heading h5{
    font-size: 4.4rem;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap:wrap;
    
    
}
.blog-box{
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 15px;

}

.blog-img{
    width: 100%;
    height: auto;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;

}

.blog-text span{
    color: #f33c3c;
    font-size: 1.5rem;
}

.blog-text .blog-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #272727;
}

.blog-text .blog-title:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}
.blog-text p{
    color: #9b9b9b;
    font-size:1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #ffffff;
    font-size:1.5rem;
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    background: var(--primary);
    cursor: pointer;
    font-size: 1.7rem;
    border-color: #1F2E88;
    color: var(--background2);
    max-width: 152px;
}

.blog-text a:hover{
    color: #763cf3;
}


/*footer start*/

footer{
    
    background-color: var(--background2);
    display : flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

footer .logo-flex {
    display: flex;
    align-items: center;
    gap:10px;
}

footer .logo-flex span{
    font-size: 30px;
    position: relative;
    top:-15px;
}

footer .col:nth-child(1){
    margin-left: 25px;
}

footer .col{
    margin-top: 10px;
    display : flex;
    flex-direction:column;
    align-items:flex-start;
    margin-bottom:20px;   
}

footer img.logo{
    margin-bottom: 50px;
    width: 50px;
    height: auto;
}

footer h4{
    font-size:15px;
    padding-bottom: 20px;
    
}

footer p{
    font-size:13px;
   margin: 0 0 8px 0;
}

footer a{
    font-size:13px;
    text-decoration:none;
    color:#222;
    margin-bottom: 10px;

   
}

footer .follow{
    margin-top: 20px;


}

footer .follow i{
    color:#465b52;
    padding-right: 4px;
    cursor: pointer;

}

footer .install .row i{
   font-size: 50px;


}

footer .install i{
    margin: 10px 0 15px 0;
}

footer .follow i :hover{
    color:#088178;
}

footer .copyright{
    width:100%;
    text-align:center;

}








/*================ Media queries here =====================*/

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .btn{
        display: none;
    }

    section {
        padding: 2rem;
    }

    .home .right-content img{
        height: auto;
        width: 50%;
       
    }
}


@media (max-width:768px){

    .home{
   
        padding: 0 20px;
        background-position: 120%;
        background-size: 500px;
     }
     
     .home .contents{
         padding: 200px 30px;  
     }

     .home .contents{
        max-width:50rem ;
        
       
    }

    #menu-btn{
        display: inline-block;
        
    }

    .bx .bx-menu.bx-x {
        transition: opacity 0.1s, transform 0.4s;
        transform: rotate(180deg);
    }

    

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--background2);
        border-top: var(--border);
        padding: 1rem 0;
        text-align: center;
        flex-flow: column;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        z-index: 1000;
    }
    
    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {

        display: block;
        padding:  1rem 0;
        font-size:2rem;
    }

    .home .content{
         max-width:50rem;
         padding-left: 3rem;
    }

    .home .content h3{
        font-size: 4rem;
    }


    
}

@media (max-width:450px){
    .home{
   
       padding: 0 20px;
       background-position: 55%;
    }
    
    .home .contents{
        padding: 10px 30px;    
    }


    
}





