.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px ;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx{
    cursor: pointer;
    

}

.main{
    font-size: 2rem;
}

.content main .bottom-data .users{
    flex-grow: 1;
    flex-basis: 500px;
}

.content main .bottom-data .users table{
    width: 100%;
    border-collapse: collapse;
  
}


.content main .bottom-data .users table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
    padding-left: 12px;
    cursor:pointer;
    user-select: none;
}

.content main .bottom-data .users table td{
    padding: 16px 12px;
    
}

.content main .bottom-data .users table tr td:nth-child(2){
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
    margin-right: 0;
    
}

.content main .bottom-data .users table tr td:first-child{
   padding-right: 15px ;
    
}

.content main .bottom-data .users table td.action .act-icon{
    display: flex;
    grid-gap: 15px;
    vertical-align: middle;
    align-items: center;
    
    
}

.content main .bottom-data .users table td.action .act-icon a , .content main .bottom-data .users table td.action .act-icon a:visited {
  
  text-decoration: none;
  

}

.content main .bottom-data .users table td.action .act-icon i{
   
    font-size: 22px;
    color: var(--dark);
    
}

.content main .bottom-data .users table td.profile img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .bottom-data .users table td.action img{
    
    width: 18px;
    height: 18px;
}





.content main .bottom-data .users table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
    border-bottom: 1px solid var(--grey); /*for tr bottom line*/
}

.content main .bottom-data .users table tbody tr:hover{
    background: var(--grey);
}

.content main .bottom-data .users table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.content main .bottom-data .users table tr td .status.completed{
    background: var(--success);

}
.content main .bottom-data .users table tr td .status.process{
    background: var(--primary);
}

.content main .bottom-data .users table tr td .status.pending{
    background: var(--warning);
}


/*add button*/



.add-button button {

    margin-top: 25px;

    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #488aec;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all .6s ease;
  }
  
 .add-button button:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
  }
  
 .add-button button:focus,button:active {
    opacity: .85;
    box-shadow: none;
  }
  
 .add-button button i {
    font-size: 1.5rem;
  }




  /* add model css */

  .add-model{
    position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 
  z-index: 999; /* Ensure the modal appears on top of other content */

    height: auto;
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.2);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  overflow: auto;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;


  }

  .add-model .form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    top:60px;
  }
  
  .add-model .form button {
    align-self: flex-end;
  }
  
  .add-model .form .flex-column > label {
    color: #151717;
    font-weight: 600;
  }

  .add-model i{
    font-size:1.4rem;
  }

 .add-model .name-flex{
    display: flex;
    gap:110px;
   
 }

 .add-model .close-btn{
    position: absolute;
    left: 90%;
    top:2%;
    
 }

 .add-model .close-btn i{
    font-size: 30px; 
 }

 .add-model .close-btn i:hover{
    color:red; 
 }

 
  
  .add-model .form .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
  }
  
  .add-model .form .input ,.add-model .form select {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
  }
  
  .add-model .form .input:focus , select:focus {
    outline: none;
  }
  
  .add-model .form .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  
  .add-model .form .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .add-model .form .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  

  
  .add-model .form .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .add-model .form .button-submit:hover {
    background-color: #252727;
  }
  
  /*add model css over*/

  /*erors*/

  .invalid-feedback {
    
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}




.is-invalid {
    border-color: #dc3545;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x-circle'><circle cx='6' cy='6' r='4.5'/><cross linecap='round' x1='4.5' y1='4.5' x2='7.5' y2='7.5'/><cross linecap='round' x1='7.5' y1='4.5' x2='4.5' y2='7.5'/></svg>");
    background-repeat: no-repeat;
    background-position: right calc(0.375rem + 0.1875rem) center;
    background-size: calc(0.75rem + 0.375rem) calc(0.75rem + 0.375rem);
}


/*error model*/




.card {
  overflow: hidden;
  position: fixed; /* Set to fixed position */
  top: 50%; /* Center vertically at 50% from the top of the viewport */
  left: 50%; /* Center horizontally at 50% from the left of the viewport */
  transform: translate(-50%, -50%); /* Center the card */
  background-color: var(--light);
  text-align: left;
  border-radius: 0.5rem;
  max-width: 350px; /*290*/
  border-radius: 20px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card-all-background {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 25, 40, 0.15); /* Background color similar to the .card background */
  backdrop-filter: blur(5px) saturate(180%); /* Apply backdrop filter to create the blur effect */
  z-index: 0; /* Place the overlay behind the .card */
  display: none;
}
  


.card .err-header {
  padding: 2.25rem 2rem 2rem 2rem;
  background-color: var(--light);
}

.card .err-header .image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #FEE2E2;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.card .image span {
  color: #DC2626;
  width: 1.5rem;
  height: 1.5rem;
}

.card .err-content {
  margin-top: 0.75rem;
  text-align: center;
}

.card .err-content .title {
  color:var(--dark);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.card .err-content .message {
  margin: 0.5rem 0;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.card .actions {
  margin: 0.75rem 1rem;
  background-color: #F9FAFB;
}

.card .desactivate {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #DC2626;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.card .cancel {
  display: inline-flex;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #374151;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #222;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}


/*error model over*/


/*search bar in table*/

.search-container-table {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container-table .search {
  color: var(--dark);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
  position: relative;
  z-index: 2; /* Increased z-index */
}

.search-container-table .search::placeholder {
  color: transparent;
}

.search-container-table .search:focus::placeholder {
  color: rgb(131, 128, 128);
}

.search-container-table .search:focus,
.search-container-table .search:not(:placeholder-shown) {
  border: 1px solid rgb(91, 107, 255);
  width: 250px;
  cursor: text; /* Changed to 'text' for better cursor behavior */
  padding: 18px 16px 18px 50px;
  z-index: 3; /* Increased z-index */
}


.search-container-table i {
  position: absolute;
  left: 16px; /* Adjusted left position */
  top:5px;
  height: 40px; /* Adjusted height */
  width: 40px; /* Adjusted width */
  z-index: 1;
  cursor: pointer; /* Added cursor property */
}

.search-container-table .search:focus + .search-container-table i,
.search-container-table .search:not(:placeholder-shown) + .search-container-table i {
  z-index: 2;
  background-color: transparent;
  border: none;
 
}

/*search bar over table*/

/*sort icon*/

.sort{
  font-size:12px;
  color:var(--dark);
  cursor: pointer;
}


/*sort icon over */


/*footer in table*/


footer {
  margin-top:25px;
  font-size:16px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

footer span{
  color: var(--dark);
  font-size:15px;
}

footer span .foot-number{
  color: var(--primary);
  
}

footer span select{
  color: var(--primary);
  border-radius: 5px;
  border-color: var(--dark);
  background-color: var(--light);
  
}

footer .pagination-main{
  display: flex;
 
}

.pagination-main ul{
  display:flex;
}

footer .pagination-main button , footer .pagination-main .pagination li a{
  width:40px;
  padding: 0 5px;
  color: var(--dark);
  background:transparent;
  font-size:15px;
  pointer-events: auto;
  outline: none;
  border: none;
  border-left: none;
  margin: 0 5px;
}

.pagination-main button:first-child{
  width:85px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  opacity: 0.6;
  
}

.pagination-main button:last-child{
  width:85px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0.6;
  pointer-events: none;
}

.pagination-main button.active, .pagination-main button:hover , .pagination-main .pagination li a:hover{
  background : var(--primary);
  color: var(--light);
}

.pagination-main .pagination li.active a{
  background : var(--primary);
  color: var(--light) !important;
}

/*footer table over*/


/* if table empty*/

table tr td.isempty{
  padding: 10px;
  text-align: center;
}


.shipment-status{
  border: none;
  background: none;
  /* color: inherit; */
  color: black;

}

.shipment-status option:checked {
  color: inherit;
}

.on-process-value {
  color: yellow;

}

.shipped-value {
  color: red;
}

.delivered-value {
  color: blue;
}









@media screen and (max-width :768px){
  
    /*anything to add admin staff*/
}

@media screen and (max-width: 576px){
    
    /*anything to add admin staff*/

    .content main .bottom-data .users table td{
      font-size:12px;  
    }

    .content main .bottom-data .users table th{
      font-size: 12px;
     
     }

     .content main .bottom-data .users table td.profile img{
      width: 30px;
      height: 30px;
     }

     .content main .bottom-data .header h3{
     
      font-size: 18px;
     }

     .main{
      font-size: 1.7rem;
     }

     .content main .bottom-data .header .bx{
      font-size:1.5rem;
    }

     
     

     
}


